form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 75px;
  height: 40px;
  width: 400px;
  border-radius: 30px 30px;
  background-color: white;
}

input {
 font-size: 1rem;
  color: black;
  width: 340px;
  height: 60%;
  /* height: 15px; */
  border: none;
}
input:focus {

  outline: none;

}

form > button {       
    color:red;
    padding: 0;    
    scale:1.1;   
    border: none;
    background-color: white;
}
